{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- <div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
      </div>
    </div> -->

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
					<ul class="product-category">
						{% comment %} <li><a href="#" class="active">All</a></li> {% endcomment %}
						{% for cat in cat1 %}
    					<li><a href="{% url 'shop:shop' cat.slug %}">{{cat.name}}</a></li>
						{% endfor %}
						{% for cat in cat2 %}
						
    					<li><a href="{% url 'shop:shop' cat.slug %}">{{cat.name}}</a></li>
						{% endfor %}
						{% for cat in cat3 %}
    					<li><a href="{% url 'shop:shop' cat.slug %}">{{cat.name}}</a></li>
						{% endfor %}
						{% for cat in cat4 %}
    					<li><a href="{% url 'shop:shop' cat.slug %}">{{cat.name}}</a></li>
						{% endfor %}
    				</ul>
    			</div>
    		</div>
    		<div class="row">
				{% for cat in cat_items %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="{% url 'shop:item_detail' cat.slug  %}" class="img-prod"><img class="img-fluid" src="{{cat.image.url}}" alt="Colorlib Template">
							{% if cat.off_percentage > 0 %}
    						<span class="status">30%</span>
							{% else %}
							<p></p>
							{% endif %}
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="{% url 'shop:item_detail' cat.slug  %}">{{cat.name}}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
									{% if cat.dis_price > 0 %}
		    						<p class="price"><span class="mr-2 price-dc">RS. {{cat.price}}</span><span class="price-sale">RS. {{cat.dis_price}}</span></p>
									{% else%}
		    						<p class="price"><span class="price-sale">RS. {{cat.price}}</span></p>
									{% endif %}
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
	    								<span><i class="ion-ios-menu"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
				{% endfor %}
    		
    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>

	{% endblock %}